{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Occasion</th>
                <th>EyesColors</th>
                <th>SkinColor</th>
                <th>Facepowder</th>
                <th>LipStick</th>
                <th>EyeShadow</th>
                <th>HighLighter</th>
                <th>MakeupHabit</th>
                <th>Firstname</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.occasion }}</td>
                <td>{{ user.eyesColors }}</td>
                <td>{{ user.skinColor }}</td>
                <td>{{ user.facepowder ? 'Yes' : 'No' }}</td>
                <td>{{ user.lipStick ? 'Yes' : 'No' }}</td>
                <td>{{ user.eyeShadow ? 'Yes' : 'No' }}</td>
                <td>{{ user.highLighter ? 'Yes' : 'No' }}</td>
                <td>{{ user.makeupHabit }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.age }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
